body {
    font-family: 'RobotoSlab-Regular';
    src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
         url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
         url('../fonts/RobotoSlab-Regular.woff') format('woff');
  }
  .header {
    position: absolute;
width: 1127px;
height: 113px;
top: 20px;
}
.logo{
    position: relative;
    width: 226px;
    height: 113px;
    margin-left: 20%;
    top: 20px;
    background: url(./images/Logo.png);
    mix-blend-mode: darken;  
}
.banner{
width: 100%;
height: 700px;

background: url(./images/bg.png);

}
.butlist{position: absolute;
    width: 499px;
    height: 26px;
    right: 20%;
    top: 91px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    visibility: visible;
    
    color: #324950;}
ul.hrlogo li{
    display: inline;
}
.search{
    position: absolute;
width: 350px;
height: 60px;
right:20%;
top: 20px;

}
.searchtext{
    position: absolute;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 16px;
top: 20px;
color: #324950;
}
.line {
    position: absolute;
width: 350px;
height: 0px;
top: 49px;

/* Text color */

border: 1px solid #324950;
}
.buttonrm{
    width: 150px;
    height: 60px;
position: relative;
top: 300px;
background: #57984C;
display: block;
    margin-left: auto;
    margin-right: auto ;
}
.butrmtext{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 142.7%;
text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #ffffff;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
position: relative;
left: 25px;
top:20px;
}
.titlelogo{
    position: relative;
top: 250px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
text-align: center;

color: #735440;
}
.icoser{
    position: absolute;
width: 18px;
height: 18px;
right: 0%;
top: 21px;
background: url(./images/ico_search.png);
}
.subbanner{
    position: relative;
width: 100%;
height: 190px;
left: 0px;
background: #FFFFFF;
}
.r1 {
    margin-right: 100px;
    margin-left: 100px;
}
.producttext{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 20px;
text-align: center;
    color: #324950; 
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
.productimg {
    position: relative;
    text-align: center;
    width:50px; 
    height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    top:20px;
}
.vision{
    position: relative;
width: 100%;
height: 1200.84px;
background: #f3f3f3;


}
.r2{
    position: relative;
    top: 50px;
    margin-right: 20%;
    margin-left: 20%;
}
.vistext{
    position: relative;
    top: 140px;
    color: #324950;
}
.crd{
    color: #1ca038;
}
.crdtext{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 20px;
    margin-right: 10%;
}
.imgcrd{
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}
.r3{
    position: relative;
    top: 100px;
    margin-right: 20%;
    margin-left: 20%;
}
.r4{
    position: relative;
    top: 20px;
    margin-right: 20%;
    margin-left: 20%;
}
.mainbut{
    position: relative;
width: 100%;
height: 640px;
background: #EDEDED;
}
.mainbuttitle{
    position: relative;
    text-align: center;
    top: 50px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #324950;
}
.img4 {
position: relative;
width: 250px;
height: 170px;
}
.subtitlemb{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #57984C;
position: relative;
text-align: center;
}
.line2 {
    position: relative;
width: 200px;
height: 0px;
border: 1px solid #53b458;
display: block;
    margin-left: auto;
    margin-right: auto ;
}
.mbtext{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #324950;
position: relative;
text-align: center;
}
.footer1{
    position: relative;
width: 100%;
height: 76px;
background: #2D3F45;
}
ul.hrfoot li{
    display: inline;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;

position: relative;
top: 26px;
visibility: visible;
}
ul.hrfoot2 li{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
list-style-type: none;
position: absolute;
top: 26px;
visibility: hidden;
text-align: center;
}
.hrfootli{
    margin-right: 40px;
}
.footimg{
    position:absolute;
    width: 211.2px;
height: 31.2px;
right: 1%;
bottom: 22px;
}
.footer2{
position:relative;
width: 100%;
height: 51px;
background: #324950;
}
.foot2text{
    position:absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #B9B9B9;

right: 1%;
top: 15px;
}

.head1{
    position: relative;
width: 100%;
height: 160px;
}
.banner2{
    position: relative;
width: 1920px;
height: 480px;
}
.tomateallbody1{
    position: relative;
width: 1112px;
height: 530px;
left: 405px;
top: 50px;
}
.tallb1label{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 142.7%;

color: #324950;
}
.crd2{
    color: #1ca038;
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}
.tallb2{
    font-family: 'Roboto';
font-size: 18px;
line-height: 162.7%;
color: #324950;
}
.tallb3{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 162.7%;
color: #324950;
margin-top: 50px;
}
.addvi1{
    position: relative;
width: 1920px;
height: 610px;
background-color:  #EDEDED;
}
.addvi1label{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: #324950;

    position: relative;
    top: 40px;
    
}
.underadd1{
    position: relative;
width: 1082px;
height: 330px;
left: 422px;
top: 70px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 162.7%;
}
.lineallt{
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0px;
    height: 170px;
    border: 0.8px solid #D0D6D8;
}
.institute{
    position: relative;
width: 1920px;
height: 321px;
background: #EDEDED;
}
.instlabel{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 172.7%;
text-align: center;
color: #324950;
position: relative;
top: 30px;
}
.instimg{
    position: relative;
margin-left: 400px;
margin-right: 400px;
}
.img8{
    position: relative;
    top: 76px;
    left: 20px;
}
.img9{
    position: relative;
    top: 80px;
    left: 20px;
}
.img10{
    position: relative;
    top: 55px;
    left: 20px;
}
.underinst{
    position: relative;
    width: 1920px;
    height: 116px;
}
.underunderi{
    position: relative;
    width: 938px;
    height: 55px;
    left: 491px;
    top: 20px;
}
.textuur{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 152.7%;
text-transform: uppercase;
color: #000000;
}

a {
    color: #324950; /* Цвет ссылок */
   }
a:visited {
    color: #324950; /* Цвет посещенных ссылок */
   }
a:active {
    color: #324950; /* Цвет активных ссылок */
   }
.bannertall{
    position: relative;
    width: 100%;
height: 480px;
}
.bdall{
    position: relative;
    width: 100%;
height: 1700px;
    background-color: #faeee3;
}
.bdalltitle{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;

color: #324950;
}
.bdalltext{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
color: #324950;

position: relative;
margin-bottom: 20px;
}
.linebd{
    position: absolute;
width: 4px;
height: 60px;
background: #EB5757;
border-radius: 4px;
}
.bda{
    position: relative;
    left: 30px;
    margin-right: 30px;
}
.bdall2{
    position: relative;
width: 100%;
height: 380px;
top: 60px;
background: #FFFAFA;
}
.bdall2coll{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #324950;
}
.linedb2ll{
    position: relative;
width: 100%;
height: 0px;
border: 1px solid #99b2b9;
margin-top: 10px;
margin-bottom: 10px;
}
.bdall2col{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #324950;
}
.dball2move{
    position: relative;
    top:40px;
    margin-left: 5px;
    margin-right: 5px;
}
.linebd2{
    position: absolute;
    width: 4px;
height: 40px;
background: #EB5757;
border-radius: 4px;
top:-8px;

}
.bdallmove2{
    position: relative;
    top: 90px;
}
.tomatesback{
    position: relative;
    width: 100%;
    height: 100%;
    top: 100px;
    
}
.backtomatesback{
    position: relative;
    width: 100%;
    height: 100%;
}
.tomaterec{
    position: relative;
    width: 100%;
height: 40px;
background: #FFFFFF;
top:-30px;
}
.tomatetxt{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #57984C;
position:inherit;
top: 10%;
}
.tomateinstock{
    position: relative;
    top:40px;
}
.toneb{
    position: relative;
width: 100%;
height: 1200px;
background: #f3f3f3;
}
.tonebimg{
    position: absolute;
width: 100%;
height: 100%;
color: #57984C;
}
.visionimg{
    position: absolute;
width: 100%;
height: 100%;
color: #57984C;
}
.tomeimg22{
    position: relative;
}
.toneback{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: #57984C;
position: relative;
top: -40px;

}
.tonelabel{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 54px;

color: #324950;
}
.tonelabelgreen{
    color: #27812c;
}
.Verytome{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 36px;

color: #CF2333;
position: relative;
margin-left: 70px;
margin-right: 70px;
}
.tanechara{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #57984C;
position: relative;
top: 30px;
}
.toneline{
    position: relative;
width: 220px;
height: 0px;
top:35px;
border: 1px solid #57984C;
}
.tonecharatext{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #324950;
position: relative;
top:50px;

}
.dpdf{
    position: relative;
    top: 20px;
    right: 0%;
    width: 300px;
    height:70px;
}
.nametone{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #57984C;
}
.listtone{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #324950;
position: relative;
top:30px;
}
.sectonemove{
    position: relative;
    top:50px;
}
.lmove222{
    position: relative;
    top:-20px;
}
a.ahu, 
a.ahu:visited ,
a.ahu:active {
    text-decoration: none;
    color: #147229;
}
a.ah, 
a.ah:visited ,
a.ah:active {
    text-decoration: none;
    color: #57984C;
}
.cubanner{
    position: relative;
width: 100%;
height: 40%;
}
.bdconus{
    position: relative;
width: 100%;
height: 940px;
background: #f3f3f3;
}
.labelconus{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;
color: #324950;
}
.conusblab{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #324950;
}
.inputt{
    font-size: 18px; 
    border-radius: 10px;
    border-style: none;
    height: 36px;
    margin-top: 10px;
    width: 90%;
}
.conusb1{
    position: relative;
    margin-top: 40px;
}
.inputt2{
    position: relative;
    font-size: 18px; 
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    width: 100%;
    height: 36px;
}
.inputt3{
    position: relative;
    font-size: 18px; 
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    width: 100%;
    height: 260px;
}
.inputts{
    position: relative;
    font-size: 20px; 
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    width: 30%;
    left: 70%;
    height: 7%;
    background-color: #01813b;
    color: #ffffff;
}
.upfootetus{
    position: relative;
width: 100%;
height: 200px;
background: #FFFFFF;
}
.ouraddr{
    position: absolute;
    top: 20px;
width: 288px;
height: 162px;
margin-left: 42%;
margin-right: 42%;
}
.labour{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #57984C;
text-align: center;

position: relative;
}
.labourline{
    position: relative;
    width: 183px;
height: 0px;
left: 50px;
border: 1px solid #57984C;
}
.labourtext{
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
text-align: center;
color: #324950;
position: relative;
}
.butbutback{
    position: relative;
    width: 100%;
    height: 100%;
    top: 100px;
}
.butbutrec{
    position: relative;
    width: 100%;
    height: 100px;
}
.movecrdd{
    position: relative;
    top: 100px;
}
.inputtMENU{
    position: relative;
    top: 40px;
    font-size: 18px; 
    border-style: none;
    height: 22px;
    width: 100px;
    display: block;
margin-left: auto;
margin-right: auto; 
visibility: hidden;
background: transparent;
}