<!DOCTYPE HTML Public>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel ="stylesheet" href="style.css">
        <link rel ="stylesheet" href="responsive.css">
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/main.js"></script>

        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <title>TomateALL</title>
    </head>
    <body>
        <div class="head1">
            <div class ="logo"></div>
            <div class="butlist">
                <ul class="hrlogo">
                    <li class="hrfootli2"> <a href="index.html">Home</a></li>
                    <li class="hrfootli2"> Company</li>
                    <li class="hrfootli2"> <a href="not tomate all.html">Profile</a></li>
                    <li class="hrfootli2"> <a href="tomate all.html">Products</a></li>
                    <li class="hrfootli2"> Services</li>
                    <li class="hrfootli2"> RnD</li>
                    <li class="hrfootli2"> <a href="contact us.html">Contact</a></li>
                </ul>
            </div>
            <div class="search">
                <div class="searchtext">Search</div>
                <div class = "line"></div>
                <div class="icoser"></div>
            </div>
            <select name="theme" required="required"  class="inputtMENU" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option value="#">Navigation </option>
                <option value="index.html">Home</option>
                <option value="#">Company</option>
                <option value="not tomate all.html">Profile</option>
                <option value="tomate all.html">Products</option>
                <option value="#">Services</option>
                <option value="#">RnD</option>
                <option value="contact us.html">Contact</option>
              </select> 
        </div>

        
        <img src="./js/img/mdmain.jpg" class ="bannertall">   
        <div class ="bdall">
            <div class="r2">
                <div class="bdalltitle"> Agridera Fresh Market Tomato Hybrids</div>
                <div class="crd2">*****</div>
                <div class="bdalltext">Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds. <b>We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</b> In particular, we breed improved disease-resistant cultivars adapted to different markets globally.</div>
                <div class="bdalltext">Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus).</div>
                <div class="bdalltext">In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes. </div>
                <div class="bdalltext"><div class="linebd"></div><div   class="bda">Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.</div></div>
            <div class="bdall2">
                <div class="row">
                    <div class="col">
                        <div class="dball2move">
                        <div class="bdall2coll"> Greenhouse Tomato Breeding Program</div>
                        <div class="linedb2ll"></div>
                        <div class="bdall2col"><b>This breeding is aimed for the Spanish and Turkish markets.</b> For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</div>
                    </div>
                    </div>
                    <div class="col">
                        <div class="dball2move">
                            <div class="bdall2coll"> Open-field Indeterminate Tomatoes</div>
                            <div class="linedb2ll"></div>
                            <div class="bdall2col"><b>This breeding is for Brazilian, Moroccan, and Turkish markets.</b> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="dball2move">
                            <div class="bdall2coll"> Open-field Bush Type Tomatoes</div>
                            <div class="linedb2ll"></div>
                            <div class="bdall2col"><b>This breeding is for Mediterranean markets.</b> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).</div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="bdallmove2"> <div class="bdalltext"><div class="linebd2"></div><div class="bda"><b>Agridera operates through international and local distributers around the world.</b></div></div></div>

           <!--перечень помидоров-->

        <div class="tomatestock">
            
            <div class="row"  id="app" >
                
                <div class="col" v-for="p in products" v-if="products">
                    <div class ="tomatesback" >
                        <img :src="'./js/img/'+p.image" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt" > 
                                <b>{{p.title}}</b> <p>{{p.short_text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

                <!--<div class="col">
                    <div class ="tomatesback">
                        <img src="./images/tomate2.png" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>{{p.title}}</b> <p>{{p.short_text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class ="tomatesback">
                        <a href="tomate one.html" title="Переход на Tomate TAG 1002"><img src="./images/tomate3.png" class="backtomatesback"></a>
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>{{p.title}}</b><p>{{p.short_text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

            <!--Вторая строка
            <div class="tomateinstock">
            <div class="row">
                <div class="col">
                    <div class ="tomatesback">
                        <img src="./images/tomate4.png" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>TAG 1003 (TAG 834)</b> <p>Determinate Red Standard Round</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class ="tomatesback">
                        <img src="./images/tomate5.png" class="backtomatesback"> 
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>TAG 1004 (TAG 848)</b> <p>Determinate Red BEEF Round</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class ="tomatesback">
                        <img src="./images/tomate6.png" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>TAG 1005 (TAG 800)</b> <p>Determinate Red Standard Round</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>-->
            <!--Третяя строка
             
            <div class="tomateinstock">
            <div class="tomateinstock">
            <div class="row">
                <div class="col" >
                    <div class ="tomatesback">
                        <img src="./images/tomate7.png" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>TAG 1006 (TAG 816)</b> <p>Determinate Red Elongated</p>

                            </div>
                        </div>
                </div>
                </div>
                <div class="col">
                    <div class ="tomatesback">
                        <img src="./images/tomate8.png" class="backtomatesback">
                        <div class="tomaterec">
                            <div class="tomatetxt"> 
                                <b>TAG 1007 (TAG 816)</b> <p>Determinate Red Elongated</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class ="tomatesback">
                        <div class="backtomatesback"></div>
                    </div>
                    
                </div>
            </div>
            </div>-->
        </div>

        </div>


        <!--рамки-->
        </div>
        </div>
        

        <div class ="footer1">
            <ul class="hrfoot">
                <li class="hrfootli"> PROFILE</li>
                <li class="hrfootli"> MANAGEMENT</li>
                <li class="hrfootli"> PRODUCTS</li>
                <li class="hrfootli"> RnD</li>
                <li class="hrfootli"> LINKS</li>
                <li class="hrfootli"> SITEMAP</li>
                <li class="hrfootli"> CONTACT</li>
            </ul>
            <ul class="hrfoot2">
                <li class="hrfootli"> PROFILE</li>
                <li class="hrfootli"> MANA2GEMENT</li>
                <li class="hrfootli"> PRODUCTS</li>
                <li class="hrfootli"> RnD</li>
                <li class="hrfootli"> LINKS</li>
                <li class="hrfootli"> SITEMAP</li>
                <li class="hrfootli"> CONTACT</li>
            </ul>
            <img class="footimg" src="./images/Group 30.png" >
    </div>
    <div class="footer2">
        <div class="foot2text">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
    </div> 
        
    </body>
</html>