<!DOCTYPE HTML Public>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel ="stylesheet" href="style.css">
        <link rel ="stylesheet" href="responsive.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/main.js"></script>

        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <title>TomateOne</title>
    </head>
    <body>
        <div class="head1">
            <div class ="logo"></div>
            <div class="butlist">
                <ul class="hrlogo">
                    <li class="hrfootli2"> <a href="index.html">Home</a></li>
                    <li class="hrfootli2"> Company</li>
                    <li class="hrfootli2"> <a href="not tomate all.html">Profile</a></li>
                    <li class="hrfootli2"> <a href="tomate all.html">Products</a></li>
                    <li class="hrfootli2"> Services</li>
                    <li class="hrfootli2"> RnD</li>
                    <li class="hrfootli2"> <a href="contact us.html">Contact</a></li>
                </ul>
            </div>
            <div class="search">
                <div class="searchtext">Search</div>
                <div class = "line"></div>
                <div class="icoser"></div>
            </div>
            <select name="theme" required="required"  class="inputtMENU" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option value="#">Navigation </option>
                <option value="index.html">Home</option>
                <option value="#">Company</option>
                <option value="not tomate all.html">Profile</option>
                <option value="tomate all.html">Products</option>
                <option value="#">Services</option>
                <option value="#">RnD</option>
                <option value="contact us.html">Contact</option>
              </select> 
        </div>

        <div class="toneb" id="app">
            <img class="tonebimg"src="./images/Union2.png">
            <!--R2-->
            <div class="r2">
            <div class="toneback">
                <a href="tomate all.html" class="ahu">&#8592; &nbsp; &nbsp;   Return to all tomatoes</a>
            </div>
            <div class="row" >
                <div class="col" >
                        <div class="tonelabel">{{product.title}} <p class="tonelabelgreen">{{product.desc}}</p></div>
                    
                    <div class="crd2">*****</div>
                    <div class="row">
                        <div class="col-1"> <img src="./images/tomeimg.png" width="100px" height="100px"></div>
                        <div class="col"><div class="Verytome">Very high yield and excellent fruits quality!</div></div>
                    </div>
                    <div class="tanechara">CHARACTERISTICS</div>
                    <div class="toneline"></div>
                    <div class="tonecharatext">{{product.char}}</div>
                </div>
                <!--Второй столбец-->
                <div class="col">
                   <img :src="'./js/img/'+product.image" class="tomeimg22">
                   <div class="dpdf">
                       <button><a href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">Add to cart</a></button>
                       <button><a href="tomate_one.html"  v-if="btnVisible">Go to cart</a></button>
                   </div>
                </div>
                </div>
                <!--Вторая часть-->
            <div class ="sectonemove">
            <div class="row" >
                <div class="col" id="app">
                    <div class="nametone">Plant</div>
                    <div class="lmove222"><div class="toneline"></div></div>
                    <ul class="listtone">
                        <li>{{product.plant1}}</li>
                        <li> {{product.plant2}}</li>
                        <li>{{product.plant3}}</li>
                    </ul>
                </div>
                <div class="col" id="app">
                    <div class="nametone">Cycle</div>
                    <div class="lmove222"><div class="toneline"></div></div>
                    <ul class="listtone">
                        <li>{{product.cycle1}}</li>
                        <li>{{product.cycle1}}</li>
                        <li>{{product.cycle1}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class ="sectonemove">
            <div class ="sectonemove">
            <div class="row">
                <div class="col" id="app">
                    <div class="nametone">Fruit</div>
                    <div class="lmove222"><div class="toneline"></div></div>
                    <ul class="listtone">
                        <li>{{product.fruit1}}</li>
                        <li> {{product.fruit2}}</li>
                        <li> {{product.fruit3}}</li>
                    </ul>
                </div>
                <div class="col" id="app">
                    <div class="nametone">Cycle</div>
                    <div class="lmove222"><div class="toneline"></div></div>
                    <ul class="listtone">
                        <li>{{product.cycle2}}</li>
                        <li>{{product.cycle2}}</li>
                        <li>{{product.cycle2}}</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

        </div>
        <!--конец R2-->
        
        </div>

        <div class ="footer1">
            <ul class="hrfoot">
                <li class="hrfootli"> PROFILE</li>
                <li class="hrfootli"> MANAGEMENT</li>
                <li class="hrfootli"> PRODUCTS</li>
                <li class="hrfootli"> RnD</li>
                <li class="hrfootli"> LINKS</li>
                <li class="hrfootli"> SITEMAP</li>
                <li class="hrfootli"> CONTACT</li>
            </ul>
            <ul class="hrfoot2">
                <li class="hrfootli"> PROFILE</li>
                <li class="hrfootli"> MANA2GEMENT</li>
                <li class="hrfootli"> PRODUCTS</li>
                <li class="hrfootli"> RnD</li>
                <li class="hrfootli"> LINKS</li>
                <li class="hrfootli"> SITEMAP</li>
                <li class="hrfootli"> CONTACT</li>
            </ul>
            <img class="footimg" src="./images/Group 30.png" >
    </div>
    <div class="footer2">
        <div class="foot2text">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
    </div> 

    </body>
</html>